.a--list1 {
    padding-top: 10px;

    .a--list1-item {
        display: flex;
        flex-wrap: wrap;
        position: relative;
        margin-bottom: 10px;

        .a--list1-thumbnail {
            width: 25%;
            padding: 0 5px;

            @media (max-width: 800px) {
                & {
                    width: 20%;
                }
            }
            @media (max-width: 550px) {
                & {
                    width: 50%;
                    margin-bottom: 5px;
                }
            }

        }
        .a--list1-content {
            width: 75%;
            padding: 0 5px 0 75px;

            .a--list1-title {
                position: relative;
                width: max-content;
                max-width: 100%;
                text-align: justify;
            }
            .a--list1-title a {
                position: relative;
                z-index: 1;
                color: inherit;
                text-decoration: none;
            }
            .a--list1-title:after {
                display: block;
                content: '';
                position: absolute;
                bottom: 0;
                top: 1rem;
                right: 0;
                width: 0;
                -webkit-transition: width .3s ease;
                transition: width .3s ease;
            }
            .a--list1-title:hover:after {
                border-bottom: 1px solid #262626;
                opacity: .3;
                width: 100%;
            }
            .a--list1-info {
                font-size: 1rem;
            }
            .a--list1-desc {
                font-size: 1.2rem;
                text-align: justify;
            }

            @media (max-width: 800px) {
                & {
                    width: 80%;
                }
            }
            @media (max-width: 550px) {
                & {
                    width: 100%;
                    padding: 0 5px 0 5px;
                }
            }

        }
        .a--list1-action {
            position: absolute;
            top: 0;
            left: 0;
            width: auto;
            height: auto;
        }


        &.noAction {
            .a--list1-content {
                padding: 0 5px 0 5px;
            }
        }
    }

}
