/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
horizon.log
alaatv.error.log
worker.log
.env
# Rocketeer PHP task runner and deployment package. https://github.com/rocketeers/rocketeer
.rocketeer/
storage
storage/
vendor/
laradock-alaatv
laradock-alaatv/
.phpunit.result.cache
app/Services/
public/acm/extra/fullcalendar-Jalaali/
public/acm/video-js/custom/
public/assets/vendors/base/images/ion-rangeslider/
resources/theme/angular/dist/demo/default/src/app/content/pages/snippets/errors/
resources/theme/classic/demos/default/assets/demo/default/
resources/theme/default/src/js/demo/demo11/custom/crud/datatables/advanced/
resources/theme/default/src/js/demo/demo11/custom/crud/datatables/data-sources/
resources/theme/default/src/js/demo/demo11/custom/crud/datatables/extensions/
