/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
horizon.log
alaatv.error.log
worker.log
.env
# Rocketeer PHP task runner and deployment package. https://github.com/rocketeers/rocketeer
.rocketeer/
storage
storage/
vendor/
laradock-alaatv
laradock-alaatv/
.phpunit.result.cache
app/Services/
public/acm/extra/fullcalendar-Jalaali/
public/acm/video-js/custom/
public/assets/vendors/base/images/ion-rangeslider/
resources/theme/angular/dist/demo/default/src/app/content/pages/snippets/errors/
resources/theme/classic/demos/default/assets/demo/default/
resources/theme/default/src/js/demo/demo11/custom/crud/datatables/advanced/
resources/theme/default/src/js/demo/demo11/custom/crud/datatables/data-sources/
resources/theme/default/src/js/demo/demo11/custom/crud/datatables/extensions/
mix-manifest.json
public/mix-manifest.json
public/phpinfo.php
public/test.php

public/css/font/summernote.eot
public/css/font/summernote.woff
public/css/font/summernote.ttf
public/css/font/glyphicons-halflings-regular.ttf

public/js/all.js
public/js/login.js
public/js/admin-all.js
public/js/page-live.js
public/js/page-shop.js
public/js/contactUs.js
public/js/page-error.js
public/js/user-orders.js
public/js/product-show.js
public/js/user-profile.js
public/js/content-show.js
public/js/page-homePage.js
public/js/checkout-auth.js
public/js/page-landing5.js
public/js/page-landing7.js
public/js/page-landing8.js
public/js/page-landing9.js
public/js/page-landing10.js
public/js/content-search.js
public/js/user-dashboard.js
public/js/checkout-review.js
public/js/checkout-payment.js
public/js/loadGtmEecForPages.js
public/js/landing5-alljs.min.js
public/js/admin-content-create.js
public/js/checkout-verification.js
public/js/product-content-embed.js
public/js/checkout-completeInfo.js
public/js/user-profile-salesReport.js
public/js/admin-content-edit.js


public/css/all.css
public/css/page-live.css
public/css/admin-all.css
public/css/page-shop.css
public/css/auth-login.css
public/css/page-error.css
public/css/user-orders.css
public/css/content-show.css
public/css/user-profile.css
public/css/product-show.css
public/css/page-landing5.css
public/css/page-landing7.css
public/css/page-landing8.css
public/css/page-landing9.css
public/css/page-homePage.css
public/css/content-search.css
public/css/page-contactUs.css
public/css/user-dashboard.css
public/css/page-landing10.css
public/css/checkout-review.css
public/css/page-dashboard1.css
public/css/checkout-payment.css
public/css/landing5-allcss.min.css
public/css/admin-content-create.css
public/css/product-content-embed.css
public/css/checkout-verification.css
public/css/user-profile-salesReport.css
public/acm/AlaatvCustomFiles/components/OwlCarouselType2/style.css
public/css/admin-content-edit.css

public/.well-known/
chown.sh
ga-service_account-0d4476d84562.json
!/public/js/page-live.js
