
.CheckoutReviewTotalPriceWarper .m-portlet__body {
    position: relative;
    padding: 10px 10px 40px 10px !important;
}

.CheckoutReviewTotalPriceWarper .btnGotoCheckoutPayment {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
}

.a--userCartList .m-portlet__head {
    background: white;
}

.is-sticky .btnGotoCheckoutPayment {
    left: auto;
    right: auto;
    bottom: auto;
}


.Step-warper {
    display: none;
}


.discountCodeWraper {
    margin-bottom: 0.5rem;
}
.bankLogo {
    max-width: 60px;
    border-radius: 4px;
}
.costReportWraper .costReportWraper-item:first-child {
    padding: 0;
}
.costReportWraper .costReportWraper-item {
    padding: 0.5rem 0;
    position: relative;
}
.bootstrap-switch {
    border-color: #9f9f9f;
}
.baseCostWraper .m-widget1__title {
    font-weight: 900 !important;
}
.yourProfitWraper .m-widget1__title span {
    color: gray;
    font-size: 1rem;
}
.costReportWraper .costReportWraper-item .m-widget1__title,
.costReportWraper .costReportWraper-item .m-widget1__number {
    font-weight: normal;
}
.useWalletReportWraper {
    border-bottom: .07rem dashed #848484;
}








.orderproductWithChildWarper .childOfParent .childIcon {
    display: table-cell;
    vertical-align: middle;
}

.orderproductWithChildWarper {
    border-bottom: .07rem dashed #ebedf2;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: -20px 0 15px 0;
    position: relative;
}

.orderproductWithChildWarper .hasChild {
    margin-bottom: 0;
    border-bottom: none;
    padding-left: 15px;
    padding-right: 15px;
}

.orderproductWithChildWarper .childOfParent {
    margin-top: 20px;
    border-radius: 7px;
    position: relative;
    border: solid 3px #ff9000;
    padding: 5px 40px 5px 45px;
    border-bottom: solid 3px #ff9000 !important;
}

.orderproductWithChildWarper .childOfParent:before {
    content: ' ';
    width: 0;
    height: 0;
    border-left: 21px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid #ff9000;
    position: absolute;
    top: -20px;
    right: 95px;
}

.orderproductWithChildWarper .childOfParent .childItem:last-child,
.orderproductWithChildWarper:last-child {
    border: none;
}

.orderproductWithChildWarper .childOfParent .childItem {
    position: relative;
    border-bottom: .07rem dashed #ebedf2;
    margin: 5px 0;
    padding: 0 0 5px 0;
}

.orderproductWithChildWarper .childOfParent .childItem .childTitle,
.orderproductWithChildWarper .childOfParent .childItem .childRemoveBtnWarper {
    float: right;
    line-height: 35px;
    margin-left: 5px;
}

.orderproductWithChildWarper .childOfParent .childItem .childTitle {

}

.orderproductWithChildWarper .childOfParent .childItem .childPrice {
    float: left;
}

.orderproductWithChildWarper .childOfParent .childItem .childRemoveBtnWarper {
    position: relative;
}

.orderproductWithChildWarper ,
.a--list3 .a--list3-item {
    border-bottom: dotted 3px #cacaca;
}
.orderproductWithChildWarper:last-child ,
.a--list3 .a--list3-item:last-child,
.orderproductWithChildWarper .a--list3-item.hasChild {
    border-bottom: none;
}


.selectPaymentMethod .pretty .state {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
.selectPaymentMethod .pretty .state label {
    position: relative;
    width: calc(1em + 2px);
    height: calc(1em + 2px);
}
.selectPaymentMethod .pretty .state label::after,
.selectPaymentMethod .pretty .state label::before {
    top: calc((0% - (100% - 1.3em)) - 8%);
}

.productAttributes {
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
}

/*media query*/
@media (min-width: 767.98px) {
    .btnAddMoreProductToCart-desktop {
        display: block;
    }

    .btnAddMoreProductToCart-mobile {
        display: none;
    }

    .btnGotoCheckoutPayment-desktop {
        display: block;
    }

    .btnGotoCheckoutPayment_mobile {
        display: none;
    }

    .btnRemoveOrderproduct-child {
        display: none !important;
    }
}

@media (max-width: 767.98px) {
    .a--userCartList {
        margin-bottom: 100px;
    }
    .a--userCartList .a--userCartList-items {
        margin-top: 15px;
    }
    .a--userCartList .m-widget5__item {
        position: relative;
    }

    .btnAddMoreProductToCart-desktop {
        display: none;
    }

    .btnAddMoreProductToCart-mobile {
        display: block;
    }

    .btnGotoCheckoutPayment-desktop {
        display: none;
    }

    .CheckoutReviewTotalPriceWarper {
        display: none;
    }

    .btnGotoCheckoutPayment_mobile {
        display: block;
        position: fixed;
        right: 0;
        width: 100%;
        bottom: 0;
        z-index: 99999;
        margin: 0;
        -webkit-box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.75);
        box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.75);
    }

    .btnGotoCheckoutPayment_mobile .m-portlet__body {
        padding: 0;
    }

    .btnGotoCheckoutPayment_mobile .btnGotoCheckoutPayment {
        width: 100%;
    }

    .btnGotoCheckoutPayment_mobile .priceReport {
        height: 100%;
        text-align: center;
    }

    .btnGotoCheckoutPayment_mobile .priceReport .a--productPrice {
        position: relative;
        top: 10px;
    }

    #m_scroll_top {
        bottom: 70px;
        z-index: 99999;
    }

    .m-grid__item.m-footer {
        display: none;
    }

    .orderproductWithChildWarper {
        margin-left: 0;
    }

    .orderproductWithChildWarper .childOfParent .btnRemoveOrderproduct-child {
        position: absolute !important;
        left: -28px;
        top: -9px;
    }

    .orderproductWithChildWarper .childOfParent {
        padding: 5px 10px 5px 30px !important;
    }

    .orderproductWithChildWarper .childOfParent .childItem .childTitle,
    .orderproductWithChildWarper .childOfParent .childItem .childRemoveBtnWarper,
    .orderproductWithChildWarper .childOfParent .childItem .childPrice {
        float: none;
    }

    .btnRemoveOrderproduct-child {
        display: block;
    }
}
