.a-widget5 .a-widget5__item {
    border-bottom: .07rem dashed #ebedf2;
}
.a-widget5 .a-widget5__item:last-child {
    border: none;
}
.a-widget5 .a-widget5__item .a-widget5__content:last-child {
    padding: 10px;
}
.a-widget5 .a-widget5__item .a-widget5__content .a-widget5__pic {
    width: 210px;
    float: right;
}
.a-widget5 .a-widget5__item .a-widget5__content .a-widget5__section {
    padding-right: 1.43rem;
    padding-top: .3rem;
    float: right;
    width: calc( 100% - 210px);
}
.a-widget5 .a-widget5__item .a-widget5__content .a-widget5__section .a-widget5__title {
    font-size: 16px;
}
.content-description p{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.a-widget5 .a-widget5__item .a-widget5__content .a-widget5__pic {
    width: 170px;
}
.a-widget5 .a-widget5__item .a-widget5__content .a-widget5__section {
    width: calc( 100% - 170px);
}

.a--nuevo-alaa-theme.a--media-parent {
    margin-top: 0;
    padding-bottom: 0;
}

.btnAddToCart .fa.fa-cart-arrow-down {
    font-size: 2rem !important;
    color: white !important;
}

.btnAddToCart {
    font-size: 1.2rem;
    background-color: #00cc1b;
}
.btnViewProductPage {
    color: white !important;
}
.btnAddToCart,
.btnViewProductPage {
    position: relative;
    z-index: 1;
}

#playListScroller {
    height: 360px;
    overflow: auto;
}

.contentDetailesWrapper {
    position: relative;
}

.contentDetailesWrapper .contentTitleH1 {
    padding-left: 70px;
}

.btnFavorite {
    position: absolute;
    left: 10px;
    top: -20px;
}

.alert.m-alert--outline.alert-success {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    border-color: #34bfa3;
    color: #34bfa3;
    font-weight: 400;
}
.alert.m-alert--outline.alert-success .m-link {
    color: #34bfa3;
}
.alert.m-alert--icon .m-alert__text {
    vertical-align: middle;
    width: auto;
    padding: 0 1.25rem;
}
.m-portlet.m-portlet--success.m-portlet--head-solid-bg {
    background: white;
}
.downloadLinkColumn .m-portlet,
.detailesColumn .m-portlet {
    margin: 0 !important;
}


.sources {
    float: right;
    padding-left: 10px;
}
.sources .sources-item {
    box-shadow: 0 1px 5px 2px rgba(69,65,78,.08);
    border: solid 1px #eae6e6;
}
.sources .sources-image {

}
.sources .sources-image img {
    width: 150px;
}
.sources .sources-title {
    text-align: center;
}

/*scrollbar*/
/* width */
#m_tabs_1_1 {

    scrollbar-color: #ff9000 #ffe0b8;
    scrollbar-width: thin;
}

#m_tabs_1_1::-webkit-scrollbar {
    width: 9px;
    height: 9px;
}

/* Track */
#m_tabs_1_1::-webkit-scrollbar-track {
    background: #ffefdb;
}

/* Handle */
#m_tabs_1_1::-webkit-scrollbar-thumb {
    background: #ff9000;
    border-radius: 10px;
}

/* Handle on hover */
#m_tabs_1_1::-webkit-scrollbar-thumb:hover {
    background: #ff6c00;
}
/*media query*/
@media only screen and (max-width: 1100px) and (min-width: 992px) {
    .a-widget5 .a-widget5__item .a-widget5__content .a-widget5__pic,
    .a-widget5 .a-widget5__item .a-widget5__content .a-widget5__section {
        display: block;
        float: none;
        width: 100%;
    }
    .a-widget5 .a-widget5__item .a-widget5__content .a-widget5__pic {
        text-align: center;
    }
}

/*media query*/
@media only screen and (max-width: 500px) {
    .sources {
        float: none;
        padding-left: 0;
    }
    .sources .sources-image a,
    .sources .sources-image img {
        width: 100%;
    }
}
