.videosWithSameSetList.a--list1 .a--list1-item {
    border-bottom: .07rem dashed #919191;
}
.videosWithSameSetList.a--list1 .a--list1-item:last-child {
    border: none;
    margin-bottom: 10px;
}

.a--nuevo-alaa-theme.a--media-parent {
    margin-top: 0;
    padding-bottom: 0;
}

.btnAddToCart .fa.fa-cart-arrow-down {
    font-size: 2rem !important;
    color: white !important;
}

.btnAddToCart {
    font-size: 1.2rem;
    background-color: #00cc1b;
}
.btnViewProductPage {
    color: white !important;
}
.btnAddToCart,
.btnViewProductPage {
    position: relative;
    z-index: 1;
}

#playListScroller {
    height: 360px;
    overflow: auto;
}

.contentDetailesWrapper {
    position: relative;
}

.contentDetailesWrapper .contentTitleH1 {
    padding-left: 70px;
}

.btnFavorite {
    position: absolute;
    left: 10px;
    top: -10px;
}

.alert.m-alert--outline.alert-success {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    border-color: #34bfa3;
    color: #34bfa3;
    font-weight: 400;
}
.alert.m-alert--outline.alert-success .m-link {
    color: #34bfa3;
}
.alert.m-alert--icon .m-alert__text {
    vertical-align: middle;
    width: auto;
}
.m-portlet.m-portlet--success.m-portlet--head-solid-bg {
    background: white;
}
.downloadLinkColumn .m-portlet,
.detailesColumn .m-portlet {
    margin: 0 !important;
}

.downloadLinkColumn .m-portlet__body .m-alert > a {
    min-width: 150px;
    max-width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sources {
    float: right;
    padding-left: 10px;
}
.sources .sources-item {
    box-shadow: 0 1px 5px 2px rgba(69,65,78,.08);
    border: solid 1px #eae6e6;
}
.sources .sources-image {

}
.sources .sources-image img {
    width: 150px;
}
.sources .sources-title {
    text-align: center;
}

.m-portlet {
    position: relative;
}
.blockedContent {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #0000004a;
    z-index: 2;
    cursor: not-allowed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.blockedContent .ParentProductsItem {
    background-color: white;
    -webkit-box-shadow: 5px 5px 5px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 5px -3px rgba(0,0,0,0.75);
    box-shadow: 5px 5px 5px -3px rgba(0,0,0,0.75);
    -webkit-box-flex: 0;
    -ms-flex: 0 0 26%;
    flex: 0 0 26%;
    max-width: 26%;
}
.blockedContent .ParentProductsItem .image img {
    width: 100%;
}
.blockedContent .ParentProductsItem .title {
    padding: 3px 5px;
    font-size: 0.9rem;
    line-height: 0.9rem;
}
.a--block-item.a--block-type-content .a--block-infoWrapper {
    margin-bottom: 5px;
}
.a--block-item.a--block-type-product2 button,
.a--block-item.a--block-type-content .a--block-infoWrapper .a--block-titleWrapper
.a--block-item.a--block-type-set .a--block-infoWrapper .a--block-titleWrapper {
    height: 50px;
}

#playListScroller .a-widget5__item .a-widget5__content .a-widget5__section .a-widget5__info .content-description {
    font-size: 1rem;
    line-height: 1.5rem;
}

/*media query*/
@media only screen and (max-width: 1100px) and (min-width: 992px) {
    .a-widget5 .a-widget5__item .a-widget5__content .a-widget5__pic,
    .a-widget5 .a-widget5__item .a-widget5__content .a-widget5__section {
        display: block;
        float: none;
        width: 100%;
    }
    .a-widget5 .a-widget5__item .a-widget5__content .a-widget5__pic {
        text-align: center;
    }
}

/*media query*/
@media only screen and (max-width: 500px) {
    .sources {
        float: none;
        padding-left: 0;
    }
    .sources .sources-image a,
    .sources .sources-image img {
        width: 100%;
    }
}

@media only screen and (max-width: 1360px) {
    .downloadLinkColumn .m-portlet__body .m-alert {
        flex-wrap: wrap;
    }
    .downloadLinkColumn .m-portlet__body .m-alert > a {
        min-width: 100%;
        max-width: 100%;
        flex-wrap: wrap;
    }
}
@media only screen and (max-width: 991px) and (min-width: 768px) {
    .downloadLinkColumn .m-portlet__body .m-alert {
        flex-wrap: wrap;
    }
    .downloadLinkColumn .m-portlet__body .m-alert > a {
    }
}

@media only screen and (max-width: 767px) {
    .downloadLinkColumn .m-portlet__body .m-alert > a {
        min-width: 150px;
        max-width: 150px;
    }
}
@media only screen and (max-width: 380px) {
    .downloadLinkColumn .m-portlet__body .m-alert > a {
        min-width: 100%;
        max-width: 100%;
        flex-wrap: wrap;
    }
}
