@font-face {
    font-family: 'lg';
    src: url("/css/fonts/fontslightGallery/lg.eot?n1z373");
    src: url("/css/fonts/fontslightGallery/lg.eot?#iefixn1z373") format("embedded-opentype"), url("/css/fonts/fontslightGallery/lg.woff?n1z373") format("woff"), url("/css/fonts/fontslightGallery/lg.ttf?n1z373") format("truetype"), url("/css/fonts/fontslightGallery/lg.svg?n1z373#lg") format("svg");
    font-weight: normal;
    font-style: normal;
}

.productGifts img {
    max-width: 100%;
}

.productGifts {
    text-align: center;
}

.m-portlet__head {
    background: white;
}

.productDetailes .m-portlet__head {
    background: white;
    z-index: 40;
}

.productPamphletWarper .productPamphletBody {
    overflow: hidden;
}

#a_product-price .m-loader.m-loader--success {
    width: 30px; display: inline-block;
}

/*selectable product: child switch*/
.parentCheckBox {
    position: absolute;
    z-index: 1;
    right: 9px;
    top: 6px;
}

.lg-slide {
    direction: ltr;
}

.a--nuevo-alaa-theme.a--media-parent .a--video-wraper {
    height: auto;
}
.a--nuevo-alaa-theme.a--media-parent {
    margin-top: 0;
}
.m-portlet .m-portlet-fit--sides {
    margin-right: auto;
    margin-left: auto;
}
.m-portlet.m-portlet--bordered-semi .m-portlet-fit--top {
    margin-top: 0;
}
.videoPlayerPortlet .m-portlet__body {
    padding: 0px;
}
.videoPlayerPortlet .m-widget19__content {
    padding: 5px 20px;
}
.videoPlayerPortlet.m-portlet.m-portlet--bordered-semi .m-portlet__body {
    padding-top: 0;
}
.videoPlayerPortlet .m-widget19 .m-widget19__content .m-widget19__header {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.videoPlayerPortlet .m-widget19 .m-widget19__content {
    margin-bottom: 0;
}


/*narrow selectable switch panel*/
.m-nav.m-nav--active-bg .m-nav__item > .m-nav__link {
    padding: 0;
}
.parentCheckBox {
    top: 0px;
    right: 6px;
}
.m-nav .m-nav__item > .m-nav__link .m-nav__link-title > .m-nav__link-wrap .m-nav__link-text {
    padding-left: 2.2rem;
}
.m-nav.m-nav--active-bg .m-nav__item.m-nav__item--active > .m-nav__link {
    background-color: #ffb659;
    padding-right: 45px !important;
}
.m-nav .m-nav__item > .m-nav__link .m-nav__link-arrow::before {
    left: 20px;
    position: relative;
}
.m-nav.m-nav--active-bg .m-nav__item.m-nav__item--active > .m-nav__link.collapsed {
    background-color: #ffdbac;
}
/*narrow selectable switch panel*/

.is-sticky .m-portlet__head {
    opacity: 0.95;
}

.productPamphletWarper.m-portlet{
    background: transparent;
    box-shadow: none;
    border: none;
}
.productPamphletWarper {
    margin-top: 0 !important;
    padding-top: 0 !important;
}
.productPamphletWarper .productPamphletTitle {
    height: 50px;
    padding-right: 2.2rem;
}
.productPamphletWarper .productPamphletTitle h3 {
    font-size: 18px;
    height: 45px;
    line-height: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.productPamphletWarper > .m-portlet__body {
    padding-right: 0;
    padding-left: 0;
}


#Block-sampleVideo .m-widget_head-owlcarousel-item {
    background: white;
    box-shadow: none !important;
}

.is-sticky .productPamphletTitle {
    background: white;
    opacity: 0.85;
}
.productDetailes,
.sampleVideo > .col > .m-portlet {
    margin-bottom: 0;
}

.productInfoNav {
    display: none;
    color: #a2a2a2;
    cursor: pointer;
    line-height: 1;
    transition: all 0.5s;
}
.productInfoNav.productInfoNav-btnAddToCart{
    padding-right: 5px;
}
.productInfoNav.this,
.is-sticky .productInfoNav {
    display: inline-block;
}
.productInfoNav.this {
    color: #333;
}
.is-sticky .productInfoNav.this {
    color: #333;
    background: #e1e1e1;
    padding: 5px 0 5px 5px;
    margin-right: 5px;
    border-radius: 0;
}

#Block-sampleVideo .m-portlet__head,
#productDetailes .m-portlet__head,
#Block-relatedProduct .m-portlet__head {
    height: 50px;
}

#productInformation {
    column-count: 2;
    font-size: 1.2em;
    line-height: 2em;
    column-gap: 60px;
    text-align: justify;
}
.addToCartForMobileDeviceWrapper {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    background: white;
    -webkit-box-shadow: 0px 0px 42px -19px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 42px -19px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 42px -19px rgba(0,0,0,0.75);
}

.addToCartForMobileDeviceWrapper .btnAddToCart {
    margin-bottom: 0 !important;
    float: right;
}

.a_product-price_mobile-wrapper {
    float: left;
    margin-left: 15px;
    line-height: 40px;
}


.productAttributes .m-portlet__head,
.productInformation .m-portlet__head {
    background: #f2f3f8;
    height: 45px; !important;
}

.btnAddToCart .fa.fa-cart-arrow-down {
    font-size: 2rem !important;
    color: white !important;
}

.btnAddToCart {
    font-size: 1.2rem;
    background-color: #00cc1b;
}

#productDetailes.m-portlet .m-portlet__head .m-portlet__head-tools .m-portlet__nav .m-portlet__nav-item .m-portlet__nav-link {
    margin: 0;
    padding: 0;
}

#productDetailes.m-portlet .m-portlet__head .m-portlet__head-tools .m-portlet__nav .m-portlet__nav-item .m-portlet__nav-link.m-portlet__nav-link--icon i {
    color: white;
}

.selectableProduct-child-lastNode {
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: dotted 1px #eaeaea;
}







.m-timeline-3 .m-timeline-3__item {
    disply: table;
    margin-bottom: 1rem;
    position: relative; }
.m-timeline-3 .m-timeline-3__item:before {
    position: absolute;
    display: block;
    width: 0.28rem;
    border-radius: 0.3rem;
    height: 70%;
    right: 11rem;
    top: 0.46rem;
    content: ""; }
.m-timeline-3 .m-timeline-3__item .m-timeline-3__item-time {
    direction: ltr;
    display: table-cell;
    vertical-align: top;
    padding-top: 0.6rem;
    font-weight: 500;
    font-size: 1.3rem;
    position: absolute;
    text-align: left;
    width: 10.57rem ; }
.m-timeline-3 .m-timeline-3__item .m-timeline-3__item-desc {
    display: table-cell;
    width: 100%;
    vertical-align: top;
    font-size: 1rem;
    padding-right: 12rem; }
.m-timeline-3 .m-timeline-3__item .m-timeline-3__item-desc .m-timeline-3__item-text {
    font-size: 1.1rem;
    font-weight: 400; }
.m-timeline-3 .m-timeline-3__item .m-timeline-3__item-desc .m-timeline-3__item-user-name .m-timeline-3__item-link {
    color:rebeccapurple;
    font-weight: 600;
    font-size: 1.2rem;
    text-decoration: none;}

@media (max-width: 768px) {
    .m-timeline-3 .m-timeline-3__item {
        margin-right: 0; } }

.m-timeline-3__item .m-timeline-3__item-time {
    color: #898b96; }

.m-timeline-3__item .m-timeline-3__item-desc .m-timeline-3__item-text {
    color: black; }

.m-timeline-3__item.m-timeline-3__item--brand:before {
    background: #716aca; }

.m-timeline-3__item.m-timeline-3__item--metal:before {
    background: #c4c5d6; }

.m-timeline-3__item.m-timeline-3__item--light:before {
    background: #ffffff; }

.m-timeline-3__item.m-timeline-3__item--accent:before {
    background: #00c5dc; }

.m-timeline-3__item.m-timeline-3__item--focus:before {
    background: #9816f4; }

.m-timeline-3__item.m-timeline-3__item--primary:before {
    background: #5867dd; }

.m-timeline-3__item.m-timeline-3__item--success:before {
    background: #34bfa3; }

.m-timeline-3__item.m-timeline-3__item--info:before {
    background: #36a3f7; }

.m-timeline-3__item.m-timeline-3__item--warning:before {
    background: #ffb822; }

.m-timeline-3__item.m-timeline-3__item--danger:before {
    background: #f4516c; }








#a_top_section > .col > .m-portlet > .m-portlet__body {
    position: relative;
}
.btnFavorite {
    position: absolute;
    top: -5px;
    right: -5px;
    z-index: 10;
}

/*media query*/
@media (max-width: 767.98px) {

    .sticky-wrapper.is-sticky .m-portlet__head {
        padding: 0;
    }

    .productInfoNav {
        font-size: 0.9rem;
    }
    .productPamphletWarper .productPamphletTitle {

    }
    .m-demo__preview {
        padding: 0px !important;
    }
    .m-portlet.m-portlet--tabs .m-portlet__head {
        display: flex;
        padding: 0 2.2rem;
    }
    .m-portlet.m-portlet--tabs .m-portlet__head .m-portlet__head-tools {
        margin-top: 0;
    }
    .m-portlet .m-portlet__head .m-portlet__head-tools .m-portlet__nav .m-portlet__nav-item {
        padding: 0;
    }
    .m-portlet .m-portlet__head .m-portlet__head-tools .m-portlet__nav .m-portlet__nav-item .btn span span {
        display: none;
    }
    #productInformation {
        column-count: 1;
        padding: 0 15px;
    }
    .m-portlet.m-portlet--tabs .m-portlet__head .m-portlet__head-caption {
        display: flex;
    }
}
@media (max-width: 768px) {
    .m-portlet.m-portlet--tabs .m-portlet__head,
    .m-portlet.m-portlet--tabs .m-portlet__head .m-portlet__head-caption,
    .m-portlet.m-portlet--tabs .m-portlet__head .m-portlet__head-tools {
        display: flex;
    }
    .m-portlet.m-portlet--tabs .m-portlet__head .m-portlet__head-tools {
        margin-top: 0;
    }
}
@media (max-width: 991px) {
    .addToCartForMobileDeviceWrapper {
        display: block;
    }
    .productInfoNav-btnAddToCart {
        display: none !important;
    }
}
