.btnFavorite {
    position: absolute;
    top: -18px;
    left: 30px;
    z-index: 10;
}
.m-widget5__desc{
    font-size:1.2rem !important;
    text-align: justify;
}
.m-widget5__title{
    font-weight: 700 !important;
}
.m-portlet__head-tools > .nav {
    line-height: 50px;
}

.contentsetListHead {
    height: auto !important;
}
.contentsetListHead .m-portlet__head-tools {
    display: flex;
    flex-flow: column;
    padding: 5px 0;
}
.FavoriteAndOrder {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
}
.FavoriteAndOrder .btnFavorite {

}
.FavoriteAndOrder .Order {
    margin-left: 50px;
}
.FavoriteAndOrder .Order a i {
    font-size: 25px;
}
.countOfItems {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.rightSideAdBanner {
    padding: 0;
}
.rightSideAdBanner a {
    display: block;
}
.setVideoPamphletTabs .nav {
    background: #f2f3f8;
    border-radius: 5px;
}
.setVideoPamphletTabs .nav-pills .nav-link.active,
.setVideoPamphletTabs .nav-pills .show > .nav-link {
    border-radius: 5px;
}
