.margin-bottom-20 {
    margin-bottom: 20px;
}

.margin-bottom-25 {
    margin-bottom: 25px;
}

.margin-top-0 {
    margin-top: 0px !important;
}

.margin-right-0 {
    margin-right: 0px !important;
}

.dashboard-consultation-scroll-notEmpty {
    height: 331px;
}

.dashboard-consultation-scroll-empty {
    height: 165px;
}

.dashboard-special-offer {
    width: 100%;
    max-height: 340px;
}

.no-padding {
    padding: 0px 0px 0px 0px;
}

.no-margin {
    margin: 0px 0px 0px 0px;
}

.product-potfolio-free {
    padding-bottom: 23px;
    font-size: inherit
}

.product-potfolio-no-cost {
    padding-bottom: 23px;
    font-size: inherit
}

.product-potfolio-no-discount {
    padding-bottom: 23px;
    font-size: inherit
}

.product-potfolio-real-cost {
    text-decoration: line-through;
    font-size: inherit
}
