.a--owl-carousel-row {

  .a--owl-carousel-Wraper {
    background: transparent;
    box-shadow: none;


    .btn-viewOwlcarousel {
      display: none;
    }

    .a--block-item {
      background: white;
    }

    .a--block-type-set,
    .a--block-type-product {
      .a--block-imageWrapper {
        position: relative;

        .a--block-imageWrapper-image {
          width: 100%;

          img {
            width: 100%;
            transform-style: flat;
            height: auto;
          }
        }

        .btnViewMore {
          position: absolute;
          z-index: 2;
          bottom: 10px;
          right: 10px;
          background-color: #00a3b699;
          border: solid 1px white;
          transition: all 0.5s;
        }
      }
    }

    .a--block-type-set {
      .a--block-infoWrapper {

        .a--block-titleWrapper {
          background: #828282;
          padding: 5px 10px;
          height: 45px;
          display: flex;
          align-items: center;

          a {
            top: 0;
            color: white;
            min-height: 0;
            position: relative;
          }
        }

        .a--block-detailesWrapper {
          display: flex;
          justify-content: space-between;
          padding: 5px 10px;
          flex-wrap: wrap;

          .a--block-set-author-pic {
            width: 40px;
            height: 40px;
            border-radius: 100px;
            overflow: hidden;

            img {
              width: 100%;
            }
          }

          .a--block-set-author-name {
            padding-right: 10px;
            width: calc( 100% - 40px - 30px );
          }

          @media (max-width: 481px) {
            .a--block-set-author-name {
              order: 3;
              width: 100%;
            }
          }

          .a--block-set-count {
            width: 30px;
            .a--block-set-count-number {
              font-weight: bold;
            }
          }
        }
      }
    }

    .a--block-type-product {

      .a--block-infoWrapper {

        .a--block-titleWrapper {
          background: #828282;
          padding: 5px 10px;
          height: 60px;
          display: flex;
          align-items: center;

          a {
            top: 0;
            color: white;
            min-height: 0;
            position: relative;
          }
        }

        .a--block-detailesWrapper {
          display: flex;
          justify-content: center;
          padding: 5px 10px;
          flex-wrap: wrap;
        }

      }
    }

    .owl-carousel {
      .owl-stage-outer {
        padding-top: 0;
        margin-top: 15px;
      }
    }
  }
}
