.certificates-row {
    margin-right: -30px;
    margin-left: -30px;
}
.certificates-col {
    padding: 0;
}
.certificates-items {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    height: auto;
}
.certificates-items img {
    max-width: 50%;
    cursor: pointer;
    transition: all 0.5s;
}
.certificates-items img:hover {
    transform: scale(1.1);
}
.certificates-items .row {
    margin: 0;
}
.certificates-items .row .col a {
    width: 100%;
    text-align: center;
}
/*media query*/
@media (max-width: 1024px) {
    .certificates-row {
        margin-right: -20px;
        margin-left: -20px;
    }
}