
/*custom component*/
.a--productPrice {
    position: relative;
    margin-top: 7px;
    margin-right: 12px;
    font-size: 1rem;
}

.a--productPrice .a--productRealPrice {
    text-decoration: line-through;
    position: absolute;
    top: -8px;
    right: -13px;
    line-height: 12px;
    min-height: 12px;
}

.a--productPrice .a--productDiscount {
    position: absolute;
    top: -10px;
    left: -12px;
}

.a--visibility-hidden {
    visibility: hidden;
}

.a--full-width {
    max-width: 100%;
    min-width: 100%;
}
.a--white-space-nowrap {
    white-space: nowrap;
}
.a--d-none {
    display: none;
}

.a--devider-with-title {
    position: relative;
    margin-bottom: 10px;
    margin-top: 15px;
}

.a--devider-with-title:before {
    content: " ";
    border-bottom: double 4px #c9c9c9;
    position: absolute;
    top: -30%;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.a--devider-with-title .a--devider-title {
    display: initial;
    position: relative;
    background: #f2f3f8;
    z-index: 2;
    padding-left: 10px;
    font-size: 20px;
}

.m-brand .m-brand__tools .m-brand__toggler span::after,
.m-brand .m-brand__tools .m-brand__toggler span::before,
.m-brand .m-brand__tools .m-brand__toggler span,
.m-brand .m-brand__tools .m-brand__toggler:hover span::after,
.m-brand .m-brand__tools .m-brand__toggler:hover span::before,
.m-brand .m-brand__tools .m-brand__toggler:hover span,
.m-brand .m-brand__tools .m-brand__toggler.m-brand__toggler--active span::after,
.m-brand .m-brand__tools .m-brand__toggler.m-brand__toggler--active span::before,
.m-brand .m-brand__tools .m-brand__toggler.m-brand__toggler--active span,
.m-brand .m-brand__tools .m-brand__toggler.m-brand__toggler--active:hover span {
    background-color: white;
}


/*datatable style start*/
/*datatable tool btn(print, copy, pdf, excel, csv)*/
.dt-button {
    background: transparent !important;
}
.dt-button.btn-outline-brand {
    color: #333 !important;
    border-color: #333 !important;
}
.dt-button.btn-outline-danger {
    color: #f4516c !important;
    border-color: #f4516c !important;
}
.dt-button.btn-outline-success {
    color: #34bfa3 !important;
    border-color: #34bfa3 !important;
}
.dt-button.btn-outline-warning {
    color: #ffb822 !important;
    border-color: #ffb822 !important;
}
.dt-button.btn-outline-info {
    color: #36a3f7 !important;
    border-color: #36a3f7 !important;
}
.dt-button.btn-outline-brand:hover:not(.disabled) {
    border-color: #333 !important;
    background: #333 !important;
    color: #fff !important;
}
.dt-button.btn-outline-danger:hover:not(.disabled) {
    border-color: #f4516c !important;
    background: #f4516c !important;
    color: #fff !important;
}
.dt-button.btn-outline-success:hover:not(.disabled) {
    border-color: #34bfa3 !important;
    background: #34bfa3 !important;
    color: #fff !important;
}
.dt-button.btn-outline-warning:hover:not(.disabled) {
    border-color: #ffb822 !important;
    background: #ffb822 !important;
    color: #111 !important;
}
.dt-button.btn-outline-info:hover:not(.disabled) {
    border-color: #36a3f7 !important;
    background: #36a3f7 !important;
    color: #fff !important;
}
.pagination-panel {
    direction: ltr;
    text-align: left;
}
.pagination-panel * {
    display: inline-block;
}
.pagination-panel input{
    width: 100px;
}
.dt-buttons {
    text-align: left;
    padding: 15px;
}
.dataTables_filter {
    text-align: left !important;
}
.dataTables_filter input {
    margin-right: 10px;
}
/*datatable style end*/