/*custom component*/

.a--visibility-hidden {
    visibility: hidden;
}

.a--full-width {
    max-width: 100%;
    min-width: 100%;
}
.a--white-space-nowrap {
    white-space: nowrap;
}

.a--devider-with-title {
    position: relative;
    margin-bottom: 10px;
    margin-top: 15px;
}

.a--devider-with-title:before {
    content: " ";
    border-bottom: double 4px #c9c9c9;
    position: absolute;
    top: -30%;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.a--devider-with-title .a--devider-title {
    display: initial;
    position: relative;
    background: #f2f3f8;
    z-index: 2;
    padding-left: 10px;
    font-size: 20px;
}

a.a--gtm-eec-advertisement-click {
    display: block;
}

.m-brand .m-brand__tools .m-brand__toggler span::after,
.m-brand .m-brand__tools .m-brand__toggler span::before,
.m-brand .m-brand__tools .m-brand__toggler span,
.m-brand .m-brand__tools .m-brand__toggler:hover span::after,
.m-brand .m-brand__tools .m-brand__toggler:hover span::before,
.m-brand .m-brand__tools .m-brand__toggler:hover span,
.m-brand .m-brand__tools .m-brand__toggler.m-brand__toggler--active span::after,
.m-brand .m-brand__tools .m-brand__toggler.m-brand__toggler--active span::before,
.m-brand .m-brand__tools .m-brand__toggler.m-brand__toggler--active span,
.m-brand .m-brand__tools .m-brand__toggler.m-brand__toggler--active:hover span {
    background-color: white;
}


/* Ripple effect */
.a--ripple {
    background-position: center;
    transition: background 0.8s;
}
.a--ripple:hover {
    background: #47a7f5 radial-gradient(circle, transparent 1%, #47a7f5 1%) center/15000%;
}
.a--ripple:active {
    background-color: #6eb9f7;
    background-size: 100%;
    transition: background 0s;
}

.a-major-menu__submenu {
    width: 170px;
}

/*.liveOn {*/
/*    box-shadow: 0 0 0 rgb(255, 255, 255);*/
/*    animation: a--pulse 1.2s infinite;*/
/*}*/

.m-switch.m-switch--icon input:empty ~ span::after {
    font-family: "Font Awesome 5 Free";
    content: "\f00c";
    font-weight: 900;
}

.modal .modal-content .modal-header .close::before {
    font-family: "Font Awesome 5 Free";
    content: "\f00d";
}

.m-nav .m-nav__item > .m-nav__link.collapsed .m-nav__link-arrow::before {
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
}
.m-nav .m-nav__item > .m-nav__link .m-nav__link-arrow::before {
    content: "\f104";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
}

/*.alert-dismissible .close {*/
/*    font-family: "Font Awesome 5 Free";*/
/*    font-weight: 900;*/
/*}*/
/*.alert-dismissible .close:before {*/
/*    content: "\f00d";*/
/*}*/
/*.alert.m-alert--default {*/
/*    background: #f7f8fa;*/
/*    color: #575962;*/
/*}*/
/*.alert-success:not(.m-alert--outline) {*/
/*    color: #f6fcfb;*/
/*    background-color: #45ccb1;*/
/*    border-color: #39c9ac;*/
/*}*/
/*.alert-info:not(.m-alert--outline) {*/
/*    color: #fff;*/
/*    background-color: #53b0f8;*/
/*    border-color: #45aaf8;*/
/*}*/
/*.alert-warning:not(.m-alert--outline) {*/
/*    color: #fff;*/
/*    background-color: #ffc241;*/
/*    border-color: #ffbd31;*/
/*}*/
/*.alert-danger:not(.m-alert--outline) {*/
/*    color: #fff;*/
/*    background-color: #f66e84;*/
/*    border-color: #f55f78;*/
/*}*/
/*.alert-brand:not(.m-alert--outline) {*/
/*    color: #fff;*/
/*    background-color: #8781d2;*/
/*    border-color: #7c75ce;*/
/*}*/
/*.alert-primary:not(.m-alert--outline) {*/
/*    color: #fff;*/
/*    background-color: #717ee2;*/
/*    border-color: #6573e0;*/
/*}*/

a:hover {
    text-decoration: none;
}

.nav-tabs .nav-link {
    color: gray;
}

.m-nav .m-nav__item > .m-nav__link .m-nav__link-icon.nav__link-icon-livePage {
    width: 25px;
}
