
/*fix them style*/
.m-portlet.m-portlet--head-overlay .m-portlet__body {
    margin-top: auto;
}

.m-portlet.m-portlet--head-overlay > .m-portlet__body {
    margin-top: -5.1rem;
}

/*missed css*/
.m-widget4__item.m-widget4__item--last, .m-widget4__item:last-child {
    border-bottom: 0;
}

/*fix IRANSans font for select input*/
.form-control {
    font-family: IRANSans;
    font-size: 11px;
}

/*fix swithch*/
.bootstrap-switch {
    line-height: 6px;
}

/*fix rtl*/
.m-checkbox > span:after {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.alert[data-notify] .close {
    right: auto !important;
}

.m-scrollable {
    max-width: 100%;
}

.alert.m-alert--icon.m-alert--outline.m-alert--icon-solid .m-alert__icon span {
    border: 0;
    border-right: 6px solid #000;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
}
.alert.m-alert--outline.alert-warning.m-alert--icon-solid .m-alert__icon span {
    border-right-color: #ffb822;
}
.m-invoice-1 .m-invoice__wrapper .m-invoice__head .m-invoice__container .m-invoice__desc {
    text-align: right;
}

/*media query*/
@media (max-width: 767.98px) {
    .m-portlet__body {
        padding: 5px !important;
    }
}
