.m-header-menu {
  .m-menu__nav {
    & > .m-menu__item {
      .m-menu__submenu {
        position: fixed;
        top: 70px;
        right: 260px !important;
        background: white;
        width: 100% !important;
        max-width: 1280px;
        -webkit-box-shadow: 0px 5px 10px -3px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 5px 10px -3px rgba(0,0,0,0.75);
        box-shadow: 0px 5px 10px -3px rgba(0,0,0,0.75);

        .categoryItemsCol {
          background: #edeef3;
          display: flex;
          flex-flow: column;
          align-items: center;
          padding: 0;
          .categoryItem {
            height: 100%;
            display: flex;
            align-items: center;
            width: 100%;
            justify-content: center;
            cursor: pointer;
            transition: all 0.2s;
            &:hover {
              background: white;
            }
          }
        }

        .subCategoryItemsCol {
          display: flex;
          align-items: stretch;
          justify-content: center;
          .row {
            width: 100%;
            .subCategoryItem {
              align-self: stretch;
              display: flex;
              justify-content: center;
              align-items: center;
              margin-bottom: 10px;
              cursor: pointer;
              transition: all 0.2s;
              &:hover {
                background: #ff90003d;
              }
              &.subCategoryItem-title {
                font-weight: bold;
              }
            }
          }
        }

        .m-menu__subnav {
          display: none;
        }
      }
    }
  }
}