.m-widget24 .m-widget24__item .m-widget24__title {
    margin-right: 0;
}
.shopNavItems .shopNavItem {
    padding-top: 10px;
}
.shopNavItems .shopNavItem .m-widget24 {
    transition: all 0.5s;
}
.shopNavItems .shopNavItem:hover .m-widget24 {
    transform: scale(1.1, 1.1);
}
.shopNavItems .shopNavItem:hover .m-widget24 .btn.m-btn {
    box-shadow: 0px 0px 10px -5px #000000 !important;
}
.shopNavItems .shopNavItem .btn.m-btn {
    border: none;
}
.shopNavItems .shopNavItem.m--bg-warning .btn.m-btn {
    background: #ff9000;
    background: linear-gradient(-135deg,#ff9000 30%,#ffd522 100%);
}
.shopNavItems .shopNavItem.m--bg-accent .btn.m-btn {
    background: #00b2ec;
    background: linear-gradient(-135deg,#00b2ec 30%,#00e6ef 100%);
}
.shopNavItems .shopNavItem.m--bg-success .btn.m-btn {
    background: #289f87;
    background: linear-gradient(-135deg,#289f87 30%,#22e1bb 100%);
}
.shopNavItems .shopNavItem.m--bg-info .btn.m-btn {
    background: #3676f7;
    background: linear-gradient(-135deg,#3676f7 30%,#36baf7 100%);
}
.shopNavItems .shopNavItem .m-widget24__title {
    margin: 0;
}
.shopNavItems .m-widget24 .m-widget24__item .m-widget24__title {
    color: inherit;
}

.a--owl-carousel-type-2 .owl-item.active.center .carousel {
    -moz-transform: none;
    -webkit-transform: none;
    -o-transform: none;
    -ms-transform: none;
    transform: none;
}

/*media query*/
@media only screen and (max-width: 767.98px) {
    .shopNavItems.row[class*="m-row--col-separator-"] > div:last-child {
        border-bottom: 1px solid #ebedf2;
    }
}