@font-face {
    font-family: 'lg';
    src: url("/css/fonts/fontslightGallery/lg.eot?n1z373");
    src: url("/css/fonts/fontslightGallery/lg.eot?#iefixn1z373") format("embedded-opentype"), url("/css/fonts/fontslightGallery/lg.woff?n1z373") format("woff"), url("/css/fonts/fontslightGallery/lg.ttf?n1z373") format("truetype"), url("/css/fonts/fontslightGallery/lg.svg?n1z373#lg") format("svg");
    font-weight: normal;
    font-style: normal;
}

.productGifts img {
    max-width: 100%;
}

.productGifts {
    text-align: center;
}

.productDetailes .m-portlet__head {
    background: white;
    z-index: 40 !important;
}

.productPamphletWarper .productPamphletBody {
    height: 200px; overflow: hidden;
}

#a_product-price .m-loader.m-loader--success {
    width: 30px; display: inline-block;
}

/*selectable product: child switch*/
.parentCheckBox {
    position: absolute;
    z-index: 1;
    right: 9px;
    top: 6px;
}

.lg-slide {
    direction: ltr;
}

/*media query*/
@media (max-width: 767.98px) {
    .m-demo__preview {
        padding: 0px !important;
    }
}