.a-widget5 .a-widget5__item {
    border-bottom: .07rem dashed #ebedf2;
}
.a-widget5 .a-widget5__item:last-child {
    border: none;
}
.a-widget5 .a-widget5__item .a-widget5__content:last-child {
    padding: 10px;
}
.a-widget5 .a-widget5__item .a-widget5__content .a-widget5__pic {
    width: 210px;
    float: right;
}
.a-widget5 .a-widget5__item .a-widget5__content .a-widget5__section {
    padding-right: 1.43rem;
    padding-top: .3rem;
    float: right;
    width: calc( 100% - 210px);
}
.a-widget5 .a-widget5__item .a-widget5__content .a-widget5__section .a-widget5__title {
    font-size: 16px;
}
.content-description p{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.a-widget5 .a-widget5__item .a-widget5__content .a-widget5__pic {
    width: 170px;
}
.a-widget5 .a-widget5__item .a-widget5__content .a-widget5__section {
    width: calc( 100% - 170px);
}

.a--nuevo-alaa-theme.a--media-parent {
    margin-top: 0;
}

.btnAddToCart .fa.fa-cart-arrow-down {
    font-size: 2rem !important;
    color: white !important;
}

.btnAddToCart {
    font-size: 1.2rem;
    background-color: #00cc1b;
}
.btnViewProductPage {
    color: white !important;
}
.btnAddToCart,
.btnViewProductPage {
    position: relative;
    z-index: 1;
}

/*media query*/
@media only screen and (max-width: 1100px) and (min-width: 992px) {
    .a-widget5 .a-widget5__item .a-widget5__content .a-widget5__pic,
    .a-widget5 .a-widget5__item .a-widget5__content .a-widget5__section {
        display: block;
        float: none;
        width: 100%;
    }
    .a-widget5 .a-widget5__item .a-widget5__content .a-widget5__pic {
        text-align: center;
    }
}