.datepicker-plot-area.datepicker-persian {
    font-family: IRANSans !important;
}

.userFullname {
    text-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em darkblue;
}

.btnEditProfilePic {
    box-shadow: 0px 0px 11px 0px #8EACED !important;
}

.profile-usermenu {
    margin-right: -29px;
    margin-left: -29px;
}

.profile-usermenu button {
    text-align: right;
    padding-right: 30px;
}

#UserProfilePhoto,
.file-input.theme-fas,
.fileinput-btnBrowseUserImage,
.fileinput-btnRemoveUserImage,
.fileinput-previewClass .fileinput-remove,
.fileinput-frameClass .file-footer-caption,
.fileinput-frameClass .file-upload-indicator,
.fileinput-frameClass .file-actions {
    display: none;
}

.fileinput-previewClass .kv-fileinput-error.file-error-message,
.fileinput-cancel-button,
.fileinput-btnRemoveUserImage {
    display: none !important;
}

.fileinput-previewClass,
.fileinput-previewClass .file-drop-zone {
    margin: 0px;
    padding: 0px;
    border: none;
}

.profilePhotoUploadProgressBar,
.fileinput-previewClass .fileinput-frameClass .file-thumbnail-footer .file-thumb-progress {
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
}

.profileMenuPage-setting-view .form-group.m-form__group {
    -webkit-box-shadow: 0 1px 15px 1px rgba(69,65,78,.08);
    box-shadow: 0 1px 15px 1px rgba(69,65,78,.08);
    padding: 10px;
}
.profileMenuPage-setting-view .form-group.m-form__group .m-input-icon {
    min-height: 28px;
}
.profileMenuPage .m-portlet__head .m-portlet__head-caption .m-portlet__head-label span {
    white-space: nowrap;
}
.form-group.m-form__group.has-danger .form-control.m-input.m-input--air,
.form-group.m-form__group.has-danger .custom-file-label {
    -webkit-box-shadow: 0 3px 20px 0 rgba(255, 0, 0, 0.66);
    box-shadow: 0 3px 20px 0 rgba(255, 0, 0, 0.66);
}

.form-group.m-form__group {
    margin-bottom: 20px;
}