.a--productPrice {
    font-size: 1.3rem !important;
}
.a--productPrice .a--productRealPrice {
    font-size: 1rem !important;
}
.a--productPrice .a--productDiscount {
    font-size: 1rem !important;
}
.shopBlock .m-widget30 .m-widget_head {
    margin-bottom: 0;
}
.m-widget_head-owlcarousel-item {
    padding-bottom: 0;
}
.m-widget_head-owlcarousel-item {
    padding-bottom: 0 !important;
}
.a--owl-carousel-type-2-gridViewWarper .gridItem .m-widget_head-owlcarousel-item {
    margin: 1rem -10px !important;
}

.m-portlet.m-portlet--head-overlay > .m-portlet__body {
    margin-top: auto;
}

.alaaMaghtaLogo {
    transition: all 0.5s;
}
.alaaMaghtaLogo:hover {
    transform: scale(1.1 ,1.1);
}
.alaaMaghtaLogoWraper {
    margin-right: 15px;
    margin-left: 15px;
}