/*scrollbar*/
/* width */
.AlaaScroll {
    scrollbar-color: #ff9000 #ffe0b8;
    scrollbar-width: thin;
}

.AlaaScroll::-webkit-scrollbar {
    width: 9px;
    height: 9px;
}

/* Track */
.AlaaScroll::-webkit-scrollbar-track {
    background: #ffefdb;
}

/* Handle */
.AlaaScroll::-webkit-scrollbar-thumb {
    background: #ff9000;
    border-radius: 10px;
}

/* Handle on hover */
.AlaaScroll::-webkit-scrollbar-thumb:hover {
    background: #ff6c00;
}
