.a--d-none {
    display: none;
}

@media (min-width: 993px) {
    .a--desktop-show {
        display: block !important;
    }
    .a--desktop-hide,
    .a--mobile-show,
    .a--tablet-show {
        display: none;
    }
}

@media (max-width: 992px) {
    .a--tablet-hide,
    .a--desktop-show,
    .a--mobile-show {
        display: none;
    }
    .a--tablet-show {
        display: block !important;
    }
}
@media (max-width: 600px) {
    .a--mobile-show {
        display: block !important;
    }
    .a--mobile-hide,
    .a--desktop-show,
    .a--tablet-show {
        display: none;
    }
}
