.FormGenerator {
    .form-group > div {
        position: relative;
        padding: 0;
        width: 100%;

        &.withIcon {
            input,
            select {
                padding-right: 2.8rem;
                -webkit-box-shadow: 0 3px 20px 0 rgba(51,51,51,.11);
                box-shadow: 0 3px 20px 0 rgba(51,51,51,.11);
            }
            span.inputIcon {
                position: absolute;
                height: 100%;
                display: inline-block;
                text-align: center;
                top: 0;
                width: 3.2rem;
                color: #a4a2bb;
                span {
                    display: flex;
                    height: 100%;
                    width: 100%;
                    justify-content: center;
                    align-items: center;
                }
                &.left {
                    left: 0;
                }
                &.right {
                    right: 0;
                }
            }
        }
    }
}
