.a--imageWithCaption {
    cursor: pointer;
    overflow: hidden;
    position: relative;
}

.a--imageWithCaption img {
    min-width: 100%;
    display: block;
}

.a--imageWithCaption .a--imageCaptionWarper {
    width: 100%;
    position: absolute;
    z-index: 2;
    height: 100%;
    top: 0px;
    left: 0px;
    display: flex;
    background-color: #ff9000;
    opacity: 0;
    -webkit-transition: opacity .35s ease-out;
    transition: opacity .35s ease-out;
    padding: 5px;
}

.a--imageWithCaption .a--imageCaptionWarper .a--imageCaptionContent {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    vertical-align: middle;
    text-align: center;
    width: 100%;
}

.a--imageWithCaption .a--imageCaptionTitle {
    display: flex;
    align-items: flex-end;
    position: relative;
    bottom: 70px;
    opacity: 0;
    -webkit-transition: bottom .35s ease-out, opacity .35s ease-out;
    transition: bottom .35s ease-out, opacity .35s ease-out;
    width: 100%;
    justify-content: center;
}

.a--imageWithCaption .a--imageCaptionDescription {
    display: flex;
    align-items: flex-start;
    padding-top: 5px;
    position: relative;
    opacity: 0;
    top: 70px;
    -webkit-transition: top .35s ease-out, opacity .35s ease-out;
    transition: top .35s ease-out, opacity .35s ease-out;
    width: 100%;
    justify-content: center;
}

.a--imageWithCaption:hover .a--imageCaptionTitle {
    bottom: 0px;
}

.a--imageWithCaption:hover .a--imageCaptionDescription {
    top: 0px;
}

.a--imageWithCaption:hover .a--imageCaptionTitle,
.a--imageWithCaption:hover .a--imageCaptionDescription {
    opacity: 1;
    color: white;
    font-weight: bold;
    font-size: medium;
}

.a--imageWithCaption:hover .a--imageCaptionWarper {
    opacity: 0.9;
}
