.a--owl-carousel-type-2 .carousel {
    transition-property: transform;
    transition-duration: 0.7s;
}

.btn-viewOwlcarousel {
    display: none;
}

.a--owl-carousel-type-2 .owl-stage .owl-item.active.center {
    z-index: 1;
}
.a--owl-carousel-type-2 .owl-item.active.center .carousel {
    -moz-transform: scale(1.13);
    -webkit-transform: scale(1.13);
    -o-transform: scale(1.13);
    -ms-transform: scale(1.13);
    transform: scale(1.13);
    color: white;
}

.a--owl-carousel-type-2 .owl-item.active.center .background-solid.carousel {
    background-color: #3c00b14d !important;
}

.a--owl-carousel-type-2 .owl-item.active.center .background-gradient.carousel {
    background: rgb(255, 184, 34) !important;
    background: linear-gradient(90deg, rgba(255, 184, 34, 1) 0%, rgba(52, 191, 163, 1) 100%) !important;
}

.a--owl-carousel-type-2 .carousel .a--owl-carousel-type-2-item-image {
    position: relative;
    bottom: 20px;
    width: 90%;
    margin: auto;
    border-radius: 4px;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    transition: all 1s;
}

.a--owl-carousel-type-2 .carousel {
    -webkit-box-shadow: 0 1px 15px 1px rgba(55, 41, 84, 0.3) !important;
    box-shadow: 0 1px 15px 1px rgba(55, 41, 84, 0.3) !important;
    margin-top: 45px !important;
    margin-bottom: 30px !important;
}
.a--owl-carousel-type-2 .owl-prev {
    right: 0;
    background: linear-gradient(270deg, rgba(47, 47, 47, 0.6) 0%, rgba(100, 94, 111, 0.5) 40%, rgba(216, 195, 255, 0) 100%) !important;
}

.a--owl-carousel-type-2 .owl-next {
    left: 0;
    background: linear-gradient(90deg, rgba(47, 47, 47, 0.6) 0%, rgba(100, 94, 111, 0.5) 40%, rgba(216, 195, 255, 0) 100%) !important;
}

.a--owl-carousel-type-2 .owl-prev.disabled,
.a--owl-carousel-type-2 .owl-next.disabled {
    display: none;
}

.a--owl-carousel-type-2 .owl-prev,
.a--owl-carousel-type-2 .owl-next {
    position: absolute;
    top: 0;
    height: 100%;
    width: 40px;
    margin: 0 !important;
    color: white !important;
    transition-property: width;
    transition-duration: 0.5s;
}

.a--owl-carousel-type-2 .owl-prev:hover,
.a--owl-carousel-type-2 .owl-next:hover {
    width: 70px;
}

.a--owl-carousel-type-2-slide-detailes {
    position: relative;
    -webkit-box-shadow: 0px -15px 60px -17px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px -15px 60px -17px rgba(0, 0, 0, 0.75);
    box-shadow: 0px -15px 60px -17px rgba(0, 0, 0, 0.75);
}

.a--owl-carousel-type-2-slide-detailes::before {
    content: ' ';
    width: 0;
    height: 0;
    border-left: 21px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid white;
    position: absolute;
    top: -19px;
    right: calc(50% - 20px);
}

.a--owl-carousel-type-2 .a--owlCarouselLoading {
    height: 100px;
    width: 100px;
    background: white;
    border-radius: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.subCategoryWarper .subCategoryItem {
    background: rgb(255, 184, 34) !important;
    background: linear-gradient(90deg, rgba(255, 184, 34, 1) 0%, rgba(52, 191, 163, 1) 100%) !important;
    text-align: center;
    margin: 5px 0;
    padding: 10px;
    border-radius: 4px;
    border: dotted 5px white;
}

.subCategoryWarper .subCategoryItem .subCategoryItem-title {
    color: white;
    background: #80808066;
    padding: 10px;
    line-height: 20px;
    border-radius: 4px;
}

.m-widget30, .gridView-myProduct {
    position: relative;
}

.a--owl-carousel-type-2-gridViewWarper {
    margin: 0px;
}

.a--owl-carousel-type-2-gridViewWarper .carousel:hover > img.a--owl-carousel-type-2-item-image,
.a--owl-carousel-type-2-gridViewWarper .carousel:hover > a img.a--owl-carousel-type-2-item-image{
    -moz-transform: scale(1.13);
    -webkit-transform: scale(1.13);
    -o-transform: scale(1.13);
    -ms-transform: scale(1.13);
    transform: scale(1.13);
}

.a--owl-carousel-type-2 .carousel .a--owl-carousel-type-2-item-title,
.a--owl-carousel-type-2 .carousel .a--owl-carousel-type-2-item-subtitle {
    position: relative;
    bottom: 15px;
    padding: 0 15px;
}

.a--owl-carousel-type-2 .carousel .a--owl-carousel-type-2-item-subtitle {
    display: flex;
    align-items: center;
    min-height: 40px;
    justify-content: space-around;
}

.a--owl-carousel-type-2 .owl-dots {
    display: none;
}